$primary: #0d9be1;
$secondary: #f4f5f7;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;
$text-primary: #091e42;
$text-secondary: #495973;
$text-info: #0d9be1;
$text-warning: #dc3545;

//........button custom theme..........//
$btn-border-radius: 0.5rem;
$btn-line-height: 0.75rem;
$btn-font-size: 0.875rem;
$btn-font-weight: 600;

//........input custom theme..........//
$input-font-size: 0.875rem;
$input-padding-y: 0.5rem;
$input-padding-x: 0.75rem;
$input-placeholder-color: #7f8a9d;
$input-border-radius: 0.25rem;
$input-height: 2.5rem;
$input-focus-border-color: $primary;
$input-color: $text-primary;

// ........font theme css............//
$primary: $text-primary;
$secondary: $text-secondary;
$info: $text-info;
$danger: $text-warning;

// ........toggle button custom theme........//

$form-check-input-bg: #ffffff;
$form-check-input-border: 2px solid #7f8a9d;
$form-check-input-checked-bg-color: #0d9be1;
$form-check-input-checked-border-color: #0d9be1;
$form-check-label-color: $text-primary;
$font-size-base: 0.875rem;

// ..........select dropdown custom theme.....//
$form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M6 9L12 15L18 9' stroke='#7F8A9D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
$form-select-bg-size: 1.5rem;

//.........form validation icon hide..........//

$enable-validation-icons: false;

//............................//

// ........btn size custom css........//

// ....btn small...//

$btn-padding-x: 1rem;
$btn-padding-y: 0.75rem;

$btn-padding-x-sm: 1rem;
$btn-padding-y-sm: 0.5rem;

// ....btn large...//
$btn-padding-x-lg: 1rem;
$btn-padding-y-lg: 0.75rem;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 0.75,
  4: $spacer,
  5: $spacer * 1.5,
  6: $spacer * 2,
  7: $spacer * 3
);

$font-sizes: 1rem;

$font-sizes: (
  1: $font-sizes * 0.75,
  //12px
  2: $font-sizes * 0.813,
  //13px
  3: $font-sizes * 0.875,
  //14px
  4: $font-sizes,
  //16px
  5: $font-sizes * 1.125,
  //18px
  6: $font-sizes * 1.5,
  //24px
  7: $font-sizes * 2.25 //32px
);

@import 'bootstrap';

.navbar-container {
  border-bottom: solid 1px #dfe1e5;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  gap: 2.125rem;
}
.navbar-container .nav-link {
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #495973;
}
.navbar-container .nav-link.active {
  color: #091e42;
  border-bottom-color: #0d9be1;
}
.navbar-container .nav-link:hover {
  color: #091e42;
  border-bottom-color: #0d9be1;
}

// ............rtl view option...........//

.rtl {
  direction: rtl;
  unicode-bidi: embed;
}

.rtl .right-navbar_container {
  left: 0;
  right: auto;
}
.rtl .main-container_block {
  margin-right: 15rem;
  margin-left: 4rem;
}
.rtl .footer-btn_view {
  left: 6rem;
  right: 16rem;
}

.rtl .sub-list_option i {
  margin-left: 0.75rem;
}
.rtl .ps-2 {
  padding-right: 0.5rem !important;
}
.rtl .pe-2 {
  padding-left: 0.5rem !important;
}
.rtl .ms-auto {
  margin-left: 0 !important;
}
.rtl .toggle-default::after {
  margin-right: 0.5rem;
  margin-left: 0;
}
.rtl .form-check .form-check-input {
  float: right;
  margin-left: 0.3rem;
}
