$font-sizes: (
  xx-small: 0.75rem,
  //12px
  x-small: 0.813rem,
  //13px
  small: 0.875rem,
  //14px
  normal: 1rem,
  //16px
  medium: 1.125rem,
  //18px
  large: 1.5rem,
  // 24px
);

$font-weight: (
  small-weight: 400,
  normal-weight: 600,
  large-weight: 700,
);
