@import '../../styles/_colorsStyle.scss';
@import '../../styles/_fontStyle.scss';

.success-background {
  background: map-get($toaster-bg, 'success') !important;
  border: solid 1px map-get($toaster-bg, 'success-border');
  width: max-content;
}
.error-background {
  background: map-get($toaster-bg, 'error') !important;
  border: solid 1px map-get($toaster-bg, 'error-border');
  width: max-content;
}
.warning-background {
  background: map-get($toaster-bg, 'warning') !important;
  border: solid 1px map-get($toaster-bg, 'warning-border');

  width: max-content;
}
.information-background {
  background: map-get($toaster-bg, 'info') !important;
  border: solid 1px map-get($toaster-bg, 'info-border');
  width: max-content;
}
.toaster-heading {
  color: map-get($font-color, 'default');
  font-size: map-get($font-sizes, 'small');
  font-weight: map-get($font-weight, 'normal-weight');
  margin: 0;
  display: flex;
}
.Toastify__close-button {
  align-self: auto !important;
}
.toaster-icons_success {
  margin-right: 17px;
  color: map-get($icon-color, 'positive');
}
.toaster-icons_error {
  margin-right: 17px;
  color: map-get($icon-color, 'error');
}
.toaster-icons_warning {
  margin-right: 17px;
  color: map-get($icon-color, 'warning');
}
.toaster-icons_info {
  margin-right: 17px;
  color: map-get($icon-color, 'primary');
}
.Toastify__toast-container {
  width: auto !important;
}
