/* RE-USABLE CODES */
.admin-flex{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:20px;
}
.header_container{
    border:1px solid rgba(0, 0, 0, 0.100);
    /* box-shadow: 30 0 0 black; */
    height:10%;
    gap:0px;
    position: fixed;
    top: 0;
    width: 100%;
}
 li{
    list-style: none;
 }