.tooltip-inner {
  background-color: #0d9be1;
  padding: 8px 16px;
  font-size: 14px;
}
.bs-tooltip-top .tooltip-arrow::before,
.bs-tooltip-auto .tooltip-arrow::before {
  border-top-color: #0d9be1;
}
