.search {
  position: relative;
  span {
    position: absolute;
    left: 1rem;
    top: 1.375rem;
    color: #7f8a9d;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
.search-input {
  padding-left: 2.875rem !important;
  border: solid 2px #dfe1e5;
}
