.header_container{
    /* box-shadow: 30 0 0 black; */
    height:80px;
    margin-bottom:20px;
    gap:0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
  padding: 0;
  margin-left: 3%;
}

.navs_container{
  display: flex;
}
/* Add this CSS in your stylesheet */
.navs {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.navs li {
  margin-right: 30px;
  margin-top: 12px;
}

.navs a {
  text-decoration: none;
  color: rgb(49, 46, 46);
  transition: color 0.3s ease; /* Add a smooth transition for the color change */
}

.navs a.selected {
  color: blue; /* Set the color for the selected link */
}
.icons_container{
  display: flex;
}
.nav_icon{
  margin-right: 15px;
  margin-top: 12px;
}
.prfName{
  width:28px;
  height:28px;
  border-radius:50px;
  background-color:rebeccapurple;
  color:white;
  font-size:10px;
  letter-spacing:2%;
  justify-content:center !important;
  position: relative;
  display: flex;
  align-items:center;
    gap:20px;
}