.ft_cr_cont{
    /* width:220px;
    height:90px;
    border-radius:6px;
    border:1px solid rgba(0, 0, 0, 0.200);
    background-color:white; */
    width: 220px;
    height: 90px;
    flex-shrink: 0;
    padding:0 50px 0 20px;
    align-items:center;


    border-radius: 17px;
    border: 3px solid #EAEAFF;
    background: #FFF;
}
.ft_ic_cont{
    width:60px;
    height:60px;
    border-radius:100%;
    background-color:#EA833F;
    justify-content:center;
    align-items:center !important;
}
.FtCrdTxtCont h3{
    margin:0;
}
.FtCrdTxtCont p{
    font-size:12px;
    letter-spacing:1.5px;
    color:#7E7EAA;
    margin-bottom:0;
}